body{
    margin: 0;
}

.whole {
    justify-content: center;
    box-shadow: 0px 7px 15px;
    margin: 30px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.689);
    backdrop-filter: blur(7px);
    border-radius: 30px;
    display: flex;
}

#title {
    color: rgb(255, 255, 255);
    font-family: 'Diphylleia', serif;
    font-size: 24px;
    position: relative;
    margin-right: 20px;  
}

#logo {
    margin-left: 30px;
}

@media (max-width: 944px) {
    img #logo{
        left: 6%;
        top: 20px;
        width: 130px;
    }

    #title{
        font-size: 15px;
    }
    .whole img{
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 580px) {
    .whole{
        margin: 10px;

    }
    #title{
        font-size: 14px;
        position: relative;
        bottom: 5px;
        left: -1rem;
    }
    .whole img{
        width: 32px;
        height: 32px;
        position: relative;
        left: -1rem;
    }
}
nav.cancel a{
    display: flex;
    float: right;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Poppins', serif;
    color: black;
}

nav.cancel a:hover{
    color: rgb(126, 126, 126);
}

nav.cancel a:active{
    color: rgb(210, 210, 210);
}

.Secwhole{
    margin: 40px;
}

.Secwhole h1, h3{
    font-family: 'Poppins', serif;
}
.Secwhole h1{
    font-size: 45px;
}
.Secwhole h3{
    font-size: 30px;
}
      
/*For Feedback*/
.Secwhole h4{
    font-family: 'Poppins', serif;
    font-size: 23px;
}
.Secwhole li{
    font-family: 'Poppins', serif;
    font-size: 20px;
}

.Secwhole p{
    font-family: 'Poppins', serif;
    font-size: 20px;
}
#end{
    font-family: 'Diphylleia', serif;
    font-size: 20px;
}

.Forvid {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}


object video{
    border-radius: 30px;
    width: 544px;
    height: auto;
}

footer.footer{
    background-color: rgb(59, 59, 59);
    padding: 20px;
}

#WholeLast{
    justify-content: center;
}

div#LogoF{
    display: flex;
    margin-top: 10px;
    margin-left: auto;
} 

#LogoF #titleF{
    color: rgb(255, 255, 255);
    font-family: 'Diphylleia', serif;
    font-size: 20px;
    position: relative;
    margin-right: 20px;
}

.Last{
    display: flex;
    margin: auto;
    justify-content: center;
}

.CompanyF{
    margin-right: 100px;
}

.CompanyF h1{
    font-size: 15px;
    font-family: 'Poppins', serif;
    text-decoration: none;
    color: white;
}

nav.LinkF a.LinkF{
    font-size: 12px;
    font-family: 'Poppins', serif;
    text-decoration: none;
    color: white;
    display: block;    
}

nav.LinkF a.LinkF:hover{
    text-decoration: underline;
}

nav.Social a.Social{
    font-size: 25px;
    color: rgb(176, 176, 176);
    margin-right: 1rem;
}

.CopyrightF h1{
    font-size: 12px;
    font-family: 'Poppins', serif;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 10;
}

@media (max-width: 853px){
    object video{
        max-width: 433px;
    }    
    .Last{
        margin-left: 300px;
    }
    #LogoF #titleF{
        font-size:14px;
    }
}

@media (max-width: 600px){
    object video{
        max-width: 322px;
    } 
    div.Last{
        margin-left: 100px;
    }

    div#LogoF{
        margin: 0 10px;
        margin-bottom: 40px;
    }

    a.Social i{
        height: 40px;
    }   
}

@media(max-width: 430px) {
    object video{
        max-width: 271px;
    }
    .Last{
        display: block;
    }
    .CompanyF{
        height: 100px;
    }
}


/*FAQ CSS + Feedback*/
#FAQContact, #FeedbackContact {
    text-decoration: none;
}