body {
    background-color: rgb(255, 255, 249);
    margin: 0px;
}
#title {
    color: rgb(255, 255, 255);
    font-family: 'Diphylleia', serif;
    font-size: 20px;
    position: relative;
    margin-right: 20px;  
}

#logo {
    margin-left: 30px;
}

.whole {
    box-shadow: 0px 7px 15px;
    margin: 30px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.689);
    backdrop-filter: blur(7px);
    border-radius: 30px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
}

#check {
    display: none;
}

label #open,
label #cancel {
    display: none;
    color: white;
    font-size: 23px;
    cursor: pointer;
    margin-right: 20px; 
}

@media (max-width: 944px) {
    img#logo{
        left: 6%;
        top: 20px;
        width: 130px;
    }

    #title{
        font-size: 15px;
    }
    .whole img{
        width: 30px;
        height: 30px;
    }
    
    label #open{
        display: block;
    }
    nav#links ul {
        position: fixed;
        width: 95%;
        height: 440%;
        background-color: rgba(0, 0, 0, 0.788);
        backdrop-filter: blur(10px);
        top: 40px;
        left: -200%;
        display: flex;
        flex-direction: column;  
        align-items: center; 
        text-align: center;
        transition: all .5s;
    }

    nav#links ul li a {
        display: block;
        margin: 10px;
        text-decoration: none;
        color: white;
        font-size: 17px;
        line-height: 20px;
    }
    

    #check:checked ~ ul {
        left: 0;
        border-radius: 20px;
    }

    #check:checked ~ label #open {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}

@media (max-width: 580px) {
    .whole{
        margin: 10px;

    }

    #title{
        font-size: 14px;
        position: relative;
        bottom: 5px;
        left: -1rem;
    }
    .whole img{
        width: 32px;
        height: 32px;
        position: relative;
        left: -1rem;
    }
    label #open,
    label #cancel {
    font-size: 24px;
}
nav ul {
    position: fixed;
    width: 90%;
    height: 740%;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(10px);
    top: 30px;
    left: -200%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    transition: all .5s;
}

nav ul li a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    line-height: 20px;
}


#check:checked ~ ul {
    left: 0;
    border-radius: 20px;
}

#check:checked ~ label #open {
    display: none;
}

#check:checked ~ label #cancel {
    display: block;
}

article img#RisingDesk{
    width: 90%;
}
}

nav#links {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav#links ul {
    display: flex;
    list-style: none;
}

nav#links a {
    font-family: 'Poppins', serif;
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}

nav a#home{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-shadow: 0 0 8px white;
}

nav#links a:hover {
    text-decoration: underline;
}

nav#links a:active {
    text-decoration: underline;
    color: rgb(56, 56, 56);
}

nav#links a:visited {
    text-decoration: underline;
}

.first{
    font-family: 'Poppins', serif;
    font-size: 28px;
    text-align: center;
}

.first p{
    color: rgb(95, 95, 95);
    font-size: 1.3rem;
    margin-left: 10%;
    margin-right: 10%;
}

#RisingDesk{
    width: 500px;
}

#dpdown{
    float: left;
    overflow: hidden;
}

.Chairs{
    cursor: pointer;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.689);
    color: white;
    border: solid;
    border-radius: 20px;
    padding: 10px;
 }

 @media (max-width: 580px){
    .Chairs{
        margin-left: 10px;  
     }
 }

 .droplist1{
    margin-left: 30px;
    text-decoration: none;
    display: none; 
    background-color: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(10px);
    min-width: 50px; 
    padding-right: 50px;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    z-index: 90;
 }

/*Second Page*/
.SecWhole{
    margin: 40px;
    justify-content: center;
}

.Upper{
    margin: 0 80px;
    display: flex;
    justify-content: center;
}

.Box1{
    display: flex;
    box-shadow: 10px 10px 30px;
    width: 500px;
    padding: 20px;
    margin: 10px;
    background-color: rgba(43, 43, 43, 0.788);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.Box1 img#text1{
    width: 70%;
    margin: 20px;
    border-radius: 20px;
}

h1.text1{
    color: white;
    font-size: 30px;
    margin: 20px;
    width: 90%;
    font-family: 'Poppins', serif;
}

p.text1{
    font-family: 'Poppins', serif;
    color:rgb(213, 213, 213);
    margin: 20px;
    width: 90%;
}

.Box2{
    box-shadow: 10px 10px 30px;
    width: 500px;
    display: flex;
    padding: 20px;
    margin: 10px;
    background-color: rgba(43, 43, 43, 0.788);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.Box2 img#text2{
    width: 60%;
    margin: 20px;
    border-radius: 20px;
}

h1.text2{
    color: white;
    font-size: 30px;
    margin: 20px;
    font-family: 'Poppins', serif;
}

p.text2{
    font-family: 'Poppins', serif;
    color:rgb(213, 213, 213);
    margin: 20px;
}

.Lower{
    margin: 0 80px;
    display: flex;
    justify-content: center;
}

.Box3{
    margin: 10px;
    box-shadow: 10px 10px 30px;
    width: 1060px;
    padding: 20px;
    background-color: rgba(43, 43, 43, 0.788);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.Box3 img#text3{
    width: 400px;
    margin: 20px;
    border-radius: 20px;
}

h1.text3{
    color: white;
    font-size: 30px;
    margin: 20px;
    font-family: 'Poppins', serif;
}

p.text3{
    font-family: 'Poppins', serif;
    color:rgb(213, 213, 213);
    margin: 20px;
}

@media (max-width: 580px){
    .Secondwhole{
        margin: 0px;
    }
    
    .Upper{
        display: block;
        margin: 0 10px;
    }

    .Box1,
    .Box2{
        justify-content: center;
        width: 85%;
        margin: 10px 0;
    }

    .Lower{
        display: block;
        margin: 0 10px;
    }

    .Box3 {
        justify-content: center;
        width: 85%;
        margin: 10px 0;
    }

    .Box1 img#text1{
        width: 90%;
        margin: 0px;
    }
    
    h1.text1{
        font-size: 30px;
    }
    
    p.text1{
        font-size: 20px;
    }

    .Box2 img#text2{
        width: 70%;
        margin: 0px;
    }
    
    h1.text2{
        font-size: 30px;
    }
    
    p.text2{
        font-size: 20px;
    }

    .Box3 img#text3{
        width: 100%;
        margin: 0px;
    }
    
    h1.text3{
        font-size: 30px;
    }
    
    p.text3{
        font-size: 20px;
    }
} 

/*ThirdPage*/

.ThirdWhole{
    margin: 100px 0 0 0;
    background-image: url(ThirdWhole.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.Box4{
    margin: 60px;
    text-align: center;
}

h1.text4{
    color: rgb(0, 0, 0);
    font-size: 41px;
    margin: 40px;
    font-family: 'Poppins', serif;
}

p.text4{
    color: rgb(61, 61, 61);
    font-size: 20px;
    margin: 50px;
    font-family: 'Poppins', serif;
}

.Gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    
}

.Grids {
    display: grid;
    max-width: 600px;
    width: 100%;
    margin: 50px 0;
    overflow: hidden;
}

div.Gallery img {
    border-radius: 20px;
    width: 90%;
    height: auto;
    display: block;
}

@media (max-width: 580px){
    .Box4{
        margin: 5px;
    }
    h1.text4{
        margin:10px;
        font-size: 30px;
    }
    h1.text4 i{
        font-size: 40px;
    }
    
    div.Gallery {
        flex-direction: column;
        align-items: center;
    }
    
    .imgGrid img{
        margin: 20px;
        
    }
}

/*FourthWhole*/

#slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    height: 400px;
    width: 600px;
    margin: 30px auto;
  }
  
  .slidegroup {
    flex-direction: column;
    align-items: center;
    width: 2912px;
    animation: slide 10s ease infinite;
    
  }
  
  .slide img{
    float: left;
    width: 528px;
    
  }
  
  @keyframes slide {
    20% {margin-left: 2460px;}
    40% {margin-left: 1350px;}
    60% {margin-left: 256px;}
    80% {margin-left: -784px;}
    100% {margin-left: -1884px;}
  }

  @media (max-width:615px){
    #slideshow {
        height: 200px;
        width: 50%;
        margin: 20px auto;
      }
      
      .slidegroup {
        flex-direction: column;
        align-items: center;
        width: 2912px;
        animation: slide 10s ease infinite;
        
      }
      
      .slide img{
        float: left;
        width: 10%;
        
      }
      
      @keyframes slide {
        20% {margin-left: 2660px;}
        40% {margin-left: 2020px;}
        60% {margin-left: 1410px;}
        80% {margin-left: 860px;}
        100% {margin-left: 29   0px;}
}
}

@media (max-width:400px){
    #slideshow {
        height: 200px;
        width: 70%;
        margin: 20px auto;
      }
      
      .slidegroup {
        flex-direction: column;
        align-items: center;
        width: 2912px;
        animation: slide 10s ease infinite;
        
      }
      
      .slide img{
        float: left;
        width: 9%;
        
      }
      
      @keyframes slide {
        20% {margin-left: 2660px;}
        40% {margin-left: 2120px;}
        60% {margin-left: 1590px;}
        80% {margin-left: 1060px;}
        100% {margin-left: 530px;}
}
}

footer.footer{
    background-color: rgb(59, 59, 59);
    padding: 20px;
}

#WholeLast{
    justify-content: center;
}

div#LogoF{
    display: flex;
    margin-top: 10px;
    margin-left: auto;
} 

#titleF{
    color: rgb(255, 255, 255);
    font-family: 'Diphylleia', serif;
    font-size: 20px;
    position: relative;
    margin-right: 20px;
}

.Last{
    display: flex;
    margin: auto;
    justify-content: center;
}

.CompanyF{
    margin-right: 100px;
}

.CompanyF h1{
    font-size: 15px;
    font-family: 'Poppins', serif;
    text-decoration: none;
    color: white;
}

nav.LinkF a.LinkF{
    font-size: 12px;
    font-family: 'Poppins', serif;
    text-decoration: none;
    color: white;
    display: block;    
}

nav.LinkF a.LinkF:hover{
    text-decoration: underline;
}

nav.Social a.Social{
    font-size: 25px;
    color: rgb(176, 176, 176);
    margin-right: 1rem;
}

.CopyrightF h1{
    font-size: 12px;
    font-family: 'Poppins', serif;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 10;
}

@media (max-width: 853px){
    .Last{
        margin-left: 300px;
    }
    #titleF{
        font-size:14px;
    }

}

@media (max-width: 600px){
    div.Last{
        margin-left: 100px;
    }

    div#LogoF{
        margin: 0 10px;
        margin-bottom: 40px;
    }

    a.Social i{
        height: 40px;
    }   
}

@media(max-width: 430px) {
    .Last{
        display: block;
    }

    .CompanyF{
        height: 100px;
    }
}

/*For Health Benefit Page*/
nav #HB{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-shadow: 0 0 8px white;
}
#minisub{
    color: white;
    margin: 20px;
    font-family: 'Poppins', serif;
}