body {
    background-color: rgb(255, 255, 251);
    margin: 0;
}
#title {
    color: rgb(255, 255, 255);
    font-family: 'Diphylleia', serif;
    font-size: 20px;
    position: relative;
    margin-right: 20px; /* Adjust the margin as needed */
}

#logo {
    margin-left: 30px;
}

.whole {
    margin: 30px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(7px);
    border-radius: 30px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100
}

#check {
    display: none;
}

label #open,
label #cancel {
    display: none;
    color: white;
    font-size: 23px;
    cursor: pointer;
    margin-right: 20px; /* Adjust margin as needed */
}

@media (max-width: 944px) {
    img #logo{
        left: 6%;
        top: 20px;
        width: 130px;
    }

    #title{
        font-size: 15px;
    }
    .whole img{
        width: 30px;
        height: 30px;
    }
    
    label #open{
        display: block;
    }
    nav ul {
        position: fixed;
        width: 95%;
        height: 440%;
        background-color: rgba(0, 0, 0, 0.788);
        backdrop-filter: blur(10px);
        top: 40px;
        left: -200%;
        display: flex;
        flex-direction: column; /* Display as a column */
        align-items: center; /* Center items vertically */
        text-align: center;
        transition: all .5s;
    }

    nav ul li a {
        display: block;
        margin: 10px;
        text-decoration: none;
        color: white;
        font-size: 17px;
        line-height: 20px;
    }
    

    #check:checked ~ ul {
        left: 0;
        border-radius: 20px;
    }

    #check:checked ~ label #open {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}

@media (max-width: 580px) {
    .whole{
        margin: 10px;

    }

    #title{
        font-size: 14px;
        position: relative;
        bottom: 5px;
        left: -1rem;
    }
    .whole img{
        width: 32px;
        height: 32px;
        position: relative;
        left: -1rem;
    }
    label #open,
    label #cancel {
    font-size: 24px;
}
nav ul {
    position: fixed;
    width: 95%;
    height: 740%;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(10px);
    top: 20px;
    left: -200%;
    display: flex;
    flex-direction: column; /* Display as a column */
    align-items: center; /* Center items vertically */
    text-align: center;
    transition: all .5s;
}

nav ul li a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    line-height: 20px;
}


#check:checked ~ ul {
    left: 0;
    border-radius: 20px;
}

#check:checked ~ label #open {
    display: none;
}

#check:checked ~ label #cancel {
    display: block;
}
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    font-family: 'Poppins', serif;
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}

nav a:hover {
    text-decoration: underline;
}

.first{
    font-family: 'Poppins', serif;
    font-size: 28px;
    text-align: center;
}

.first p{
    color: rgb(95, 95, 95);
    font-size: 1.3rem;
    margin-left: 10%;
    margin-right: 10%;
}

#RisingDesk{
    width: 50%;
}

/*Second Page*/
.SecWhole{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.Box1{
    width: 50%;
    display: flex;
    padding: 20px;
    background-color: black;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.Box1 img#text1{
    width: 80%;
    margin: 20px;
    border-radius: 20px;
}

h1.text1{
    color: white;
    font-size: 30px;
    margin: 20px;
    width: 90%;
    font-family: 'Poppins', serif;
}

p.text1{
    font-family: 'Poppins', serif;
    color:rgb(213, 213, 213);
    margin: 20px;
    width: 90%;
}

.Box2{
    width: 50%;
    display: flex;
    padding: 20px;
    background-color: black;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.Box2 img#text2{
    width: 70%;
    margin: 20px;
    border-radius: 20px;
}

h1.text2{
    color: white;
    font-size: 30px;
    margin: 20px;
    font-family: 'Poppins', serif;
}

p.text2{
    font-family: 'Poppins', serif;
    color:rgb(213, 213, 213);
    margin: 20px;
}

.Upper{
    margin: 0px;
}

.Box3{
    display: flex;
    padding: 20px;
    background-color: black;
    margin: 10px 50px;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.Box3 img#text3{
    width: 80%;
    margin: 20px;
    border-radius: 20px;
}

.Innerbox3{
    width: 90%;
}

h1.text3{
    color: white;
    font-size: 30px;
    margin: 20px;
    font-family: 'Poppins', serif;
}

p.text3{
    font-family: 'Poppins', serif;
    color:rgb(213, 213, 213);
    margin: 20px;
}

@media (max-width: 580px){
    .SecWhole {
        flex-direction: column; /* Change flex direction to column for smaller screens */
        align-items: center; /* Center items in the column */
    }

    .Box1,
    .Box2 {
        width: 80%;
        margin: 3%;
    }
    .Box3 {
        width: 70%; 
        margin: 0 60px;
        flex-direction: column;
        align-items: center;
    }

    .Box1 img#text1{
        width: 50%;
    }
    
    h1.text1{
        font-size: 20px;
    }
    
    p.text1{
        font-size: 10px;
    }

    .Box2 img#text2{
        width: 50%;
    }
    
    h1.text2{
        font-size: 20px;
    }
    
    p.text2{
        font-size: 10px;
    }
    
    .Box3 img#text3{
        width: 60%;
    }
    
    h1.text3{
        font-size: 20px;
    }
    
    p.text3{
        font-size: 10px;
    }
} 