body{
    background-color: rgb(255, 255, 251) ;
}

h1 #logo{
    color: rgb(39, 39, 39);
    font-family: 'Diphylleia', serif;
    font-size: 25px;
    position: relative;
    display: inline-block;
    
}

