body {
    background-color: rgb(255, 255, 249);
    margin: 0;
}
#title {
    color: rgb(255, 255, 255);
    font-family: 'Diphylleia', serif;
    font-size: 20px;
    position: relative;
    margin-right: 20px;  
}

#logo {
    margin-left: 30px;
}

.whole {
    box-shadow: 0px 7px 15px;
    margin: 30px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.689);
    backdrop-filter: blur(7px);
    border-radius: 30px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
}

.search-container {
    position: relative;
    display: inline-block;
    margin: auto 0; 
}

#search-input {
    border-radius: 20px;
    border: solid;
    background-color: rgba(0, 0, 0, 0.107);
    color: #b1b1b1;
    font-size: 15px;
    height: 30px;
    padding-right: 90px;
    margin-left: 90px;
    
}

.fa-magnifying-glass {
    position: absolute;
    left: 340px; 
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 18px; 
    color: #888;
}

@media (max-width: 730px){
    .search-container{
        position: relative;
        left:-100px;
    }

    #search-input{
        margin-left: 90px;
        padding-right: 0px;
    }
    
    .fa-magnifying-glass {
        left: 250px;
    }
    
}

@media (max-width: 630px){
    .search-container{
        left:30px;
    }

    #search-input{
        margin-left: 0px;
        padding-right: 0px;
    }
    
    .fa-magnifying-glass {
        left: 150px;
    }
}

@media (max-width: 522px){
    #title{
        display: none;
    }

    .search-container{
        left:-10px;
    }

    #search-input{
        margin-left: 0px;
        padding-right: 20px;
    }
    
    .fa-magnifying-glass {
        left: 170px;
    }
}

#check {
    padding: 60px;
    display: none;
}

label #open,
label #cancel {
    display: none;
    color: white;
    font-size: 23px;
    cursor: pointer;
    margin-right: 20px; 
}

@media (max-width: 1260px) {
    img #logo{
        left: 6%;
        top: 20px;
        width: 130px;
    }

    #title{
        font-size: 15px;
    }
    .whole img{
        width: 30px;
        height: 30px;
    }
    
    label #open{
        display: block;
    }
    nav#links ul {
        position: fixed;
        width: 95%;
        height: 440%;
        background-color: rgba(0, 0, 0, 0.788);
        backdrop-filter: blur(10px);
        top: 40px;
        left: -200%;
        display: flex;
        flex-direction: column;  
        align-items: center; 
        text-align: center;
        transition: all .5s;
    }

    nav#links ul li a {
        display: block;
        margin: 10px;
        text-decoration: none;
        color: white;
        font-size: 17px;
        line-height: 20px;
    }
    

    #check:checked ~ ul {
        left: 0;
        border-radius: 20px;
    }

    #check:checked ~ label #open {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}

@media (max-width: 580px) {
    .whole{
        margin: 10px;

    }

    #title{
        font-size: 14px;
        position: relative;
        bottom: 5px;
        left: -1rem;
    }
    .whole img{
        width: 32px;
        height: 32px;
        position: relative;
        left: -1rem;
    }
    label #open,
    label #cancel {
    font-size: 24px;
}
nav#links ul {
    position: fixed;
    width: 90%;
    height: 740%;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(10px);
    top: 30px;
    left: -200%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    transition: all .5s;
}

nav#links ul li a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    line-height: 20px;
}

#check:checked ~ ul {
    left: 0;
    border-radius: 20px;
}

#check:checked ~ label #open {
    display: none;
}

#check:checked ~ label #cancel {
    display: block;
}

article img#RisingDesk{
    width: 90%;
}
}

nav#links {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav#links ul {
    display: flex;
    list-style: none;
}

nav#links a {
    font-family: 'Poppins', serif;
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}

nav#links a#shop{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-shadow: 0 0 8px white;}

nav#links a:hover {
    text-decoration: underline;
}

nav#links a:active {
    text-decoration: underline;
    color: rgb(56, 56, 56);
}

nav#links a:visited {
    text-decoration: underline;
}



.first{
    display: inline-block;
}

#dpdown{
    float: left;
    overflow: hidden;
}

.Chairs{
    cursor: pointer;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.689);
    color: white;
    border: solid;
    border-radius: 20px;
    padding: 10px;
 }

 @media (max-width: 580px){
    .Chairs{
        margin-left: 10px;  
     }
 }

 .droplist1{
    margin-left: 30px;
    text-decoration: none;
    display: none; 
    background-color: rgba(57, 57, 57, 0.052);
    backdrop-filter: blur(10px);
    min-width: 50px; 
    padding-right: 50px;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    position: fixed;
    top:163px;
    z-index: 1;
    
 }

#dpdown:hover .droplist1{
     display: block;
     border-bottom: 0px;
 }

.droplist1 a{
    color: rgb(28, 28, 28);
    font-family: 'Poppins', serif;
    text-decoration: none;
    line-height: 2rem;

 }
.droplist1 a:hover{
     background-color: rgb(224, 224, 224);
     color: black;
     min-width: 50px; 
     font-size: 22px;
 }

 /* DESKS */
 .desks{
    cursor: pointer;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.689);
    color: white;
    border: solid;
    border-radius: 20px;
    padding: 10px;
 }

 @media (max-width: 580px){
    .desks{
        margin-left: 10px;  
     }
 }

 /* Tables */
 .tables{
    cursor: pointer;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.689);
    color: white;
    border: solid;
    border-radius: 20px;
    padding: 10px;
 }

 @media (max-width: 580px){
    .tables{
        margin-left: 10px;  
     }
 }

 hr{
    margin: 10px 40px;
    border-width: 1.5px;
 }