.shop{
    background-color: burlywood;
    /* padding: 0.2rem; */
}
.heading_shop{
    display: inline-block;
    /* margin-right: 1020px; */
    /* float:left; */
    font-size: 2rem;
    /* text-align: center; */
    /* background-color: azure; */
    /* padding: 2rem 5rem; */
}
form{
    display: inline;
}
.shop{
    padding-left: 3rem;
}
.searchBasket{
    /* margin-left: 900px; */
    display: inline;
}
#basket{
    /* background-color: rgb(183, 115, 115); */
    font-size: 1.5rem;
    /* padding: 0.1rem; */
}
.additem{
    /* padding: 0.2rem; */
    background-color: rgb(183, 115, 115);
    /* background-color: red; */
    display: inline;
    padding: 0.5rem;
    margin-left: 70%;
    
}
.search{
    font-size: 1.5rem;
    width: 15%;
}
li{
    list-style-type: none;
    background-color: rgb(211, 168, 52);
    color: rgb(220, 75, 75);
    padding: 1rem;
    /* border: 1px solid black; */
    border-radius: 20%;
    display: inline-block;
    width: 5%;
    text-align: center;
}
.navlist a{
    text-decoration: none;
    color: white;
}
li:hover{
    background-color: wheat;
    width: 7%;
    font-size: 1.3rem;
    color: black;
}
   
   
a:hover{
    color: black;
    font-size: 1.3rem;
    background-color: wheat;
}
/* shopping2 */
.imggp{
    display: flex;
    width: 100%;
}

img{
    width: 70%;
    height: 60%;
    display: block;
    margin-left: 4rem;
    margin-top: 3rem;
}
.item1{
    border: none;
    font-size: 1.2rem;
    width: 20%;
}
.item2{
    border: none;
    font-size: 1.2rem;
    width: 20%;
}
.item3{
    border: none;
    font-size: 1.2rem;
    width: 20%;
}

label{
    font-size: 2rem;
    
}
.bt1,.bt2,.bt3{
    font-size: 1.5rem;
    
}
.imggp1{
    width: 30%;
    border: 3px solid wheat;
    padding: 2rem;
    margin-left: 2rem;
    box-shadow: 3rem;
}
.addCount{
    width: 2%;
    border: none;
    background-color: rgb(183, 115, 115);;
}
#bag1{
    border: none;
    font-size: 1.5rem;
    width: 40%;
}
#bag2{
    border: none;
    font-size: 1.5rem;
    width: 40%;
}
#bag3{
    border: none;
    font-size: 1.5rem;
    width: 40%;
}
@media (max-width:768px){
    h1{
        max-width: 100%;
    font-size: 1em;
    color: yellow;
    background-color: green;
    }
    .imggp{
        display: flex;
       flex-wrap: wrap;
        width:100%;
        
    }
    .imggp1{
        /* flex: wrap; */
        width: 40%;
        border: 3px solid rgb(128, 83, 83);
        margin-left: 12em;
        margin-bottom: 1em;
        
        text-align: center;
        padding: 2rem;
       
        box-shadow: 1rem;
        
    }
    .additem{
        /* padding: 0.2rem; */
        /* background-color: rgb(183, 115, 115); */
        background-color: red;
        display: inline;
        margin-left: 50%;
        position: relative;
        left: 10%;
        
    }
    
        img {

            float: none; /* Remove the float for smaller screens */
            display: block; /* Make the image block-level so text stacks below */
            margin: 0 auto; /* Center the image */
          }
    
}